* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: powderblue;
}

.content {
    flex: 1;
    /* Pushes the footer down */
    text-align: center;
    min-width: fit-content;
}

.instructions {
    text-align: center;
    min-width: fit-content;
    margin-bottom: .5em;
    padding: .5em;
    background-color: #333;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    min-width: fit-content;
    padding: 1em;
    margin-left: 30em;
    margin-right: 30em;
}

#scorecard {
    margin-top: 0;
}

.game-end-header {
    min-width: fit-content;
    padding: 1em;
}

.record-container {
    border: 2px solid black;
    padding: 1em;
    margin-left: 30em;
    margin-right: 30em;
    flex-wrap: wrap;
    min-width: fit-content;
}

.record-entry {
    white-space: pre-line;
    font-weight: bolder;
    border: 2px dotted black;
    margin: .5em;
    padding: .5em;
}

.record-title {
    font-weight: bolder;
    margin-bottom: .5em;
}

button {
    background-color: darkgoldenrod;
    border-radius: 3px;
    padding: 10px;
    margin-right: 1em;
    font-weight: bold;
}

button:hover {
    background-color: white;
}